.button {
  display: flex;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  width: 150px;
  background-color: white;
  cursor: pointer;
}