.card {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  text-decoration: underline;
  font-weight: bold;
  font-size: 24px;
}

.rank {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #DAF9B6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.card {
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.ghost {
  background-image: linear-gradient(to top, #b7b7b8 0%, #e2ebf0 100%);
}

.electric {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.bug {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

.poison {
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}

.normal {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}

.fairy {
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
}

.fire {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.grass {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.water {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.ground {
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
}
